.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.card {
    display: inline-block;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.rowbutton tr:hover{
    cursor: pointer;
    background-color: #ccc;
}
